/* body {
background-color: yellow;
}
*/
/* va ajouter du style a toute les balises <body> */
body {
/* modifie la couleur de fond */
background: #fff;
 /*modifie la couleur de la police dans body*/
color: #3f3f3f;
/*modifie la police du texte
    Trebuchet ms est entre parenthese car il y a un espace,
        sans serif veut dire sans empatement ce qui assure que mm si aucune des polices fonctionne cela select une sans empetatement qui sinon rendrait le text ilisible*/ 
font-family: Tahoma, "Trebuchet MS", Verdana, Arial, sans-serif;
/* la taille absolu de la police en pixel*/
font-size: 1.2em;
/* ajoute un espace absolu de 20px par rapport au top, un relatif de 15% de la droite, et un 10% par rapport a la gauche */
padding: 20px 15% 0 10%;
/*ajoute une bordure de 2pixel de large sur le top de l'écran*/
border-top: 2px solid #cccccf;
/*ajoute une bordure de 2pixel de large sur la gauche de l'écran*/
border-left: 2px solid #cccccf;

font-family: "Crimson Pro", sans-serif;
}

h4 {
 /*1em signifie 100% de la taille du conteneur parent, en d'autre mot c'est une taille qui s'adapte a la taille de base donc par défaut 16px sur navigateur cependant contrairement au rem le em s'adapte au conteneur donc si la fontsize du container est definie à 200% le em fera x2 ça t'aille de base*/
font-size: 1em;
 /*ajoute une ligne en dessous le text, "souligne" */
text-decoration: underline;
 /*modifie la couleur de la police dans h4*/
color: #3f3f3f;
 /*utilise un pading left relatif encore, même explication que au dessus concernent le em*/
padding-left: 1.5em;
 /*utilise un margin top DONC la différence entre la bordure de h4 et le prochain élément à l'inverse du padding la différence entre l'élément et sa propre bordure*/
margin-top: 1em;
}

p {
 /*utilise margin pour espacer le texte du prochain*/
margin: 0 0 0.4em 0;
 /*utilise padding pour décallez le text vers la droite */
padding-left: 1.8em;
}
 /*14. c'est en tahoma et gris foncé car ils font party de la balise body, donc les regles de style s'apllique*/
/*15. voir img/question15.png et question15_1.png*/

h1, h2, h3{
    color: blueviolet;
    clear: both;
}
h1, h2, h3, h4{
margin: 0.9em 0 0.9em 0;
font-family: "Crimson Pro", sans-serif;



}
h1 {
    border-bottom: 0.8em solid orange;
}

h2{
    border-bottom: 0.8em solid orange;
    text-align: right;
}
h3{
    border-bottom: 0.4em solid orange;
}

.coord{
    font-size: 1.1em ;
}

.photo{
    float: left;
    width: 120px;
    margin-right: 15px;
    margin-bottom: 10px;
}
 
/*26. la balise <table> est obsoléte et tres mal/peu personalisable*/
.description{
    font-style: italic;
    
}

.qrcode {
    width: 120px; 
    float: right;
} 

 /*32. les qr codes ouvre des portes au phishing et logiciel malveillant, des mesures pour s'en protéger sont, etre vigilant utilisez des applications de scan dédié*/
 /*33. pour assurer une police de secours au cas ou */  
 /*34. car une adresse ip esst une donnée personelle selon le rgpd, le serveur communiquer directant avec google, sans l'accord explicite des utilisateurs, une solution serrais d'avoir le fichier source de la police directement sur les serveurs du site 